* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header-container {
    width: 100%;
    height: 100px;


    display: flex;
    flex-direction: row;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(199, 194, 165);
}

#header{    display: flex;
    flex-direction: row;
width:70%;
margin:auto; 
}

#header-content{    
    width: 800px;
    display: flex;
    flex-direction: row;
}
#header-content h1{ position: static;}

#icon-container{ width: 110px;
    height:60px;
    

   

} 

#header-img{     height: 50px;
    width: 90px;
    border-radius: 80%;}

#nav-bar { 
    display: flex;
    justify-content: space-between;

width: 500px;
}

@media only screen and (max-width: 500px) {
    #nav-bar{ 
        display: flex;
        flex-wrap: wrap;
        width: 200px;
 }
  }
    
.nav-link{display: flex;
    justify-content: start;
    height: auto;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    color: black;}

    .nav-link:hover{background-color: rgb(134, 129, 88);
     }

     @media only screen and (max-width: 700px) {
        .nav-link{
            padding:0;
            text-decoration: none;
            color: black;}
     }
    }

   /* Form */
    
   .form-container{ width: 70%;
    margin: auto;}
#form{
    display:flex;
flex-direction: column;
margin: 20px;}

input[type=button], input[type=submit], input[type=reset] {
    background-color:  rgb(134, 129, 88);
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
  }


    /* Content */
.content-container{width: 70%;
margin: auto; }

#service-banner{width: 100%;
}

.content { border-bottom: solid 3px rgb(10, 10, 10);
margin-bottom: 50px;
min-height: 400px;}

.title-description{ margin-bottom: 30px;}

.service-icon{ height: 50px;
    width: 50px; 
margin: 0 50px 0 30px;}

    .services{ width:100%;
    height: 100px;

display: flex;
flex-direction: row;
margin: 20px;
}





.variant-main {border-bottom: solid 3px rgb(10, 10, 10);
    margin-bottom: 50px;}

.var-container{ width:auto;
display: flex;
flex-direction: row;
justify-content: space-around;}

@media only screen and (max-width: 700px) {
    .var-container{ width:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;}
  }


.variants{ width: 30%;
height: auto;
}

.var-pic-container{ display: flex;
  
justify-content: center;}

.var-article{display: flex;
    flex-direction: column;
  
    justify-content: center; }

 

   
    .var-article h3, p { margin:20px; 
    width: auto; }   

.var-pic { height: 100px; 
width: auto;}

.about{margin-bottom: 50px; }

#video-container {width: auto;
    height: auto;}

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }



 footer {
    width: 100%;
    height: 50px;


    display: flex;
    flex-direction: row;
    background-color:rgb(199, 194, 165);
}